<!DOCTYPE html>
<html>
  <head>
    <title>TerraTex Twitch Bot</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-switch.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font_awesome/font-awesome.css' />
    <script src="/socket.io.js"></script>
    <script src="/javascripts/external-libs/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/stopPropagation.js"></script>
    <script src="/javascripts/external-libs/tether.min.js"></script>
    <script src="/javascripts/external-libs/bootstrap.min.js"></script>
    <script src="/javascripts/external-libs/bootstrap-switch.min.js"></script>
  </head>
  <body data-page="default">
    {{> (lookup . 'content')}}
    <script src="/javascripts/sameHeight.js"></script>
    <script src="/javascripts/system/array_shuffle.js"></script>
    <script src="/javascripts/external-libs/easing.js"></script>
    <script src="/javascripts/select-view.js"></script>
    <script src="/javascripts/external-libs/ace/ace.js" type="text/javascript"></script>
    <script src="/javascripts/external-libs/ace/mode-lua.js" type="text/javascript" charset="utf-8"></script>

    <link href="/javascripts/external-libs/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/external-libs/jsoneditor/jsoneditor.js"></script>
    <script src="/javascripts/external-libs/chart.js"></script>
  </body>
</html>
