<div class="card" id="output">
    <div class="card-header"><span class="font-weight-bold">Chat:output()</span></div>
    <div class="card-block">
        Diese Funktion lässt den Bot einen Text ausgeben.

        <div class="doku-fn-head">Syntax</div>
        <code class="doku-fn-code">nil Chat:output (string text)</code>

        <div class="placeholder-1em"></div>
        <div class="doku-fn-head-small">Parameter</div>
        <ul class="paramList">
            <li>text: Text der im Chat ausgegeben werden soll.</li>
        </ul>

        <div class="doku-fn-head-small">Rückgabewert</div>
        <ul class="paramList">
            <li>Diese Funktion gibt keine Werte zurück.</li>
        </ul>

        <div class="doku-fn-head">Beispiel</div>
        <pre class="alert alert-code line-numbers">
<code class="language-lua">-- speichert "Hello World" in einer Variable
    local output = "Hello World!"

    -- prints 'output' to the twitch chat
    Chat:output( output )</code>
        </pre>

    </div>
</div>