<div class="alert alert-info">
    Hinweis: Es werden nur Daten einbezogen, in dennen der Bot mit dem Channel verbunden war.
</div>

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#channelStats" aria-expanded="true"
         aria-controls="channelStats">
        <span class="fa fa-caret-right slowTransition"></span>
        <span class="font-weight-bold">Channel - Statistiken</span>
    </div>
    <div class="card-block noPadding collapse in" id="channelStats" aria-expanded="true">
        <table class="table">
            <tr>
                <td>In der Bot Datenbank erfasste Viewer:</td>
                <td id="dashboardCountViewer"></td>
            </tr>
            <tr>
                <td>Summe aller vorhander Points:</td>
                <td id="dashboardSumPoints"></td>
            </tr>
            <tr>
                <td>Im Channel gesendete Chatnachrichten:</td>
                <td id="dashboardSumChatMessages"></td>
            </tr>
            <tr>
                <td>In der Summe wurde der Channel geschaut:</td>
                <td id="dashboardSumViewTime"></td>
            </tr>
        </table>
    </div>
</div>

<script type="application/javascript" src="/javascripts/pages/pageDashboard.js"/>
