<!-- Display Homepage = Page without Login -->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse" id="topNavigation">
    <div class="container">
        <a class="navbar-brand" href="/">TerraTex Twitch Bot<small class="versionInfo">v{{version}}</small></a>
        <ul class="nav navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href="http://forum.terratex.eu">Support / Forum</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href="http://twitchtracker.terratex.eu/index.php?project=2">Bugs/Featurerequests</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href="http://terratex.eu">About Us</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank"
                                    href="http://forum.terratex.eu/index.php?legal-notice/&s=8fc843102b481cc84a098605421c6fc15cf3f956">Impressum</a>
            </li>
        </ul>
        <ul class="nav navbar-nav right">
            <li  class="nav-item" >
                <input id="switch-bot" type="checkbox" {{#connected}}checked{{/connected}} data-on-color="success" data-off-color="danger">
            </li>
            <li  class="nav-item" >
                <a href="/logout" class="btn btn-danger">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="sameHeight" data-same-height="#topNavigation"></div>
<div id="placeholderForNotifications"></div>

<div class="mainContainer">
    <div id="navContainerLeft" class="col-xs-12 col-md-2 bg-light-inverted">
        <ul class="nav nav-pills nav-stacked nav-sideLeft">

            {{#each navi}}
                {{> navigation}}
            {{/each}}

        </ul>
        <br/><br/><br/>
    </div>
    <div class="col-xs-12 col-md-8" id="content"><script>$(document).ready(function(){requestPage("dashboard")});</script></div>
    <div class="col-xs-12 col-md-2 hidden-sm-down bg-faded bg-light-inverted hidden" id="staticBar">
        <div id="player"></div>
        <div class="form-group">
            <label for="vol-control" class="font-weight-bold">Volume:</label>
            <input id="vol-control" type="range" class="form-control" width="100%" min="0" max="100" step="1" oninput="setVolume(this.value)" onchange="setVolume(this.value)"></input>
        </div>
        <div class="form-group">
            <label for="vol-song" class="font-weight-bold">Current Song:</label>
            <div><span id="songTitle">Placeholder Video</span></div>
            <div><span id="songPlayTime" class="small">0:00 / 0:00</span></div>
            <div class="small">Requested By: <span id="songRequester">TerraTex Bot</span></div>
            <div class="btn-group btn-group-sm">
                <button id="srqBlacklistSong" class="btn btn-sm btn-danger">Blacklist Song</button>
                <button id="srqBlacklistRequester" class="btn btn-sm btn-danger">Blacklist Requester</button>
            </div>
            <div class="btn-group btn-group-sm">
                <button id="srqSkipSong" class="btn btn-sm btn-info">Skip Song</button>
                <button id="srqSaveSong" class="btn btn-sm btn-success">Save Song in Playlist</button>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="vol-song" class="font-weight-bold">Next 5 Songs:</label>
            <ul class="list-group list-inverted">
                <li class="list-group-item"><i class="fa fa-remove text-red clickable"></i> Example Title <br/> <small>Requested by System</small></li>
                <li class="list-group-item"><i class="fa fa-remove text-red clickable"></i> Example Title <br/> <small>Requested by System</small></li>
                <li class="list-group-item"><i class="fa fa-remove text-red clickable"></i> Example Title <br/> <small>Requested by System</small></li>
                <li class="list-group-item"><i class="fa fa-remove text-red clickable"></i> Example Title <br/> <small>Requested by System</small></li>
                <li class="list-group-item"><i class="fa fa-remove text-red clickable"></i> Example Title <br/> <small>Requested by System</small></li>
            </ul>
        </div>
        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player, audioVolume;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '100',
                    width: '100%',
                    "min-width": '300',
                    videoId: 'ScMzIvxBSi4',
                    events: {
                        'onReady': onReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

            function checkForVolumeChange() {
                if (player) {
                    if (audioVolume && player.getVolume() !== audioVolume) {
                        $("#vol-control").val(player.getVolume());
                        audioVolume = player.getVolume();
                    }
                    if (player.getPlayerState() > 0) {
                        $("#songPlayTime").html(convertPlayTime(player.getCurrentTime()) + " / " + convertPlayTime(player.getDuration()));
                    }
                }
            }

            function convertPlayTime(seconds) {
                let minutes = Math.floor(seconds/60);
                seconds = Math.floor(seconds - minutes * 60);

                return minutes + ":" + (seconds < 10 ? "0" + seconds : seconds);
            }

            function onReady() {
                setInterval(checkForVolumeChange, 0);
                audioVolume = player.getVolume();
                $("#vol-control").val(player.getVolume());
            }

            function setVolume(volume) {
                audioVolume = volume;
                player.setVolume(volume);
            }

            function onPlayerStateChange(event) {
                if (event.data === 0) {
                    SongRequest.loadNextSong();
                }
            }


        </script>

    </div>
</div>

<footer class="navbar navbar-fixed-bottom  navbar-dark bg-inverse" >
    <div class="center">&copy; TerraTex Twitch Bot by Geramy92 2015-2016 | <a href="/changelog/">Changelog</a> | <a
            href="https://github.com/TerraTex-Community/TerraTex-Twitch-Bot">Github (Source Code & Issue Tracker)</a></div>
</footer>
<script>
    var g_socket = io();
    g_socket.on('connect_error', function() {
        location.reload();
    });
</script>
<script>
    $(document).ready(function() {
        $("#switch-bot").bootstrapSwitch({
            onSwitchChange: function(event,state) {
                g_socket.emit("channelStateChange", state);
            }
        });
    });
</script>

<script src="/javascripts/system/navigation.js"></script>
<script src="/javascripts/system/notification.js"></script>
<script src="/javascripts/system/songrequest.js"></script>


<script>
    $(document).ready(function(){
        SongRequest.init();
        $('input.switch').bootstrapSwitch();
    });
</script>