<table class="table table-hover">
    <thead>
        <tr>
            <td>Löschen?</td>
            <td>Ab Stunden</td>
            <td>Name des Levels</td>
        </tr>
    </thead>
    {{#levels}}
        <tr>
            <td><a href="#" class="btn btn-primary deleteLevel" data-level="{{ID}}">löschen</a></td>
            <td>{{levelHours}}</td>
            <td><input type="text" value="{{levelName}}" class="levelName" data-level="{{ID}}" /></td>
        </tr>
    {{/levels}}
</table>