<div class="alert alert-info">
    Hinweis: Die Charts werden in Echtzeit berechnet. Daher kann es entsprechend zu längeren Ladezeiten kommen.<br/>
    Hinweis 2: Es werden nur Daten einbezogen, in dennen der Bot mit dem Channel verbunden war.
</div>
<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#followerStats" aria-expanded="true"
         aria-controls="followerStats">
        <span class="fa fa-caret-right slowTransition"></span>
        <span class="font-weight-bold">Follower - Statistiken</span>

        <div class="right stopClick">
            <select class="form-control form-control-sm" id="followerTimeRange">
                <option value="l60m">letzte 60 Minuten</option>
                <option value="l12h">letzte 12 Stunden</option>
                <option value="l24h">letzte 24 Stunden</option>
                <option value="l3mo" selected>letzte 3 Monate</option>
                <option value="l6mo">letzte 6 Monate</option>
                <option value="l12mo">letzte 12 Monate</option>
            </select>
        </div>
    </div>
    <div class="card-block collapse in" id="followerStats" aria-expanded="true">
        <div class="height400"><canvas id="followerChart" width="100%" height="400px"></canvas></div>
    </div>
</div>

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#viewerStats" aria-expanded="true"
         aria-controls="viewerStats">
        <span class="fa fa-caret-right slowTransition"></span>
        <span class="font-weight-bold">Viewer - Statistiken</span>

        <div class="right stopClick">
            <select class="form-control form-control-sm" id="viewerTimeRange">
                <option value="l60m">letzte 60 Minuten</option>
                <option value="l12h">letzte 12 Stunden</option>
                <option value="l24h">letzte 24 Stunden</option>
                <option value="l3mo" selected>letzte 3 Monate</option>
                <option value="l6mo">letzte 6 Monate</option>
                <option value="l12mo">letzte 12 Monate</option>
            </select>
        </div>
    </div>
    <div class="card-block collapse in" id="viewerStats" aria-expanded="true">
        <div class="height400"><canvas id="viewerChart" width="100%" height="400px"></canvas></div>
    </div>
</div>

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#channelStats" aria-expanded="true"
         aria-controls="channelStats">
        <span class="fa fa-caret-right slowTransition"></span>
        <span class="font-weight-bold">Channel - Statistiken</span>
    </div>
    <div class="card-block noPadding collapse in" id="channelStats" aria-expanded="true">
        <table class="table">
            <tr>
                <td>In der Bot Datenbank erfasste Viewer:</td>
                <td id="dashboardCountViewer"></td>
            </tr>
            <tr>
                <td>Summe aller vorhander Points:</td>
                <td id="dashboardSumPoints"></td>
            </tr>
            <tr>
                <td>Im Channel gesendete Chatnachrichten:</td>
                <td id="dashboardSumChatMessages"></td>
            </tr>
            <tr>
                <td>In der Summe wurde der Channel geschaut:</td>
                <td id="dashboardSumViewTime"></td>
            </tr>
        </table>
    </div>
</div>

<script type="application/javascript" src="/javascripts/pages/pageDashboard.js"/>
