<div class="card">
    <div class="card-header"><span class="font-weight-bold">User</span></div>
    <div class="card-block">
        Diese Klasse stellt Funktionen und Attribute/Properties bereit, die den Nutzer des Commands betreffen.
        <br/>

        <strong>Funktionen der Klasse</strong>:<br/><br/>
        <ul>
            <li><a href="#isModerator">isModerator</a></li>
            <li><a href="#isStreamer">isStreamer</a></li>
            <li><a href="#getUsername">getUsername</a></li>
            <li><a href="#getDisplayName">getDisplayName</a></li>
            <li><a href="#isSubscriber">isSubscriber</a></li>
            <li><a href="#hasTurbo">hasTurbo</a></li>
        </ul>

        <strong>Properties der Klasse</strong>:<br/><br/>
        <ul>
        </ul>

    </div>
</div>


<div class="card" id="isModerator">
    <div class="card-header"><span class="font-weight-bold">Function User:isModerator</span></div>
    <div class="card-block">
        Diese Funktion prüft ob der User, der den Command gesendet hat ein Moderator ist.

        <div class="doku-fn-head">Syntax</div>
        <code class="doku-fn-code">nil User:isModerator()</code>

        <div class="doku-fn-head-small">Rückgabewert</div>
        <ul class="paramList">
            <li>Diese Funktion gibt True oder False zurück.</li>
        </ul>

        {{!-- @todo: Add Example--}}

    </div>
</div>
<div class="card" id="isStreamer">
    <div class="card-header"><span class="font-weight-bold">Function User:isStreamer</span></div>
    <div class="card-block">
        Diese Funktion prüft ob der User, der den Command gesendet hat, der Streamer des Channels ist.

        <div class="doku-fn-head">Syntax</div>
        <code class="doku-fn-code">nil User:isStreamer()</code>

        <div class="doku-fn-head-small">Rückgabewert</div>
        <ul class="paramList">
            <li>Diese Funktion gibt True oder False zurück.</li>
        </ul>

        {{!-- @todo: Add Example--}}

    </div>
</div>

<div class="card" id="getUsername">
    <div class="card-header"><span class="font-weight-bold">Function User:getUsername</span></div>
    <div class="card-block">
        Fragt den Nutzernamen des Users ab, der den Command gesendet hat.

        <div class="doku-fn-head">Syntax</div>
        <code class="doku-fn-code">nil User:getUsername()</code>

        <div class="doku-fn-head-small">Rückgabewert</div>
        <ul class="paramList">
            <li>String - Username des Senders</li>
        </ul>

        {{!-- @todo: Add Example--}}

    </div>
</div>
<div class="card" id="getDisplayName">
    <div class="card-header"><span class="font-weight-bold">Function User:getDisplayName</span></div>
    <div class="card-block">
        Fragt den Anzeigenamen (mit geänderter Groß- & Kleinschreibung) des Users ab, der den Command gesendet hat.

        <div class="doku-fn-head">Syntax</div>
        <code class="doku-fn-code">nil User:getDisplayName()</code>

        <div class="doku-fn-head-small">Rückgabewert</div>
        <ul class="paramList">
            <li>String - Anzeigename des Senders</li>
        </ul>

        {{!-- @todo: Add Example--}}

    </div>
</div>
<div class="card" id="isSubscriber">
    <div class="card-header"><span class="font-weight-bold">Function User:isSubscriber</span></div>
    <div class="card-block">
        Diese Funktion checkt, ob der Sender des Commands den Channel Abboniert (Subscription) hat.

        <div class="doku-fn-head">Syntax</div>
        <code class="doku-fn-code">nil User:isSubscriber()</code>

        <div class="doku-fn-head-small">Rückgabewert</div>
        <ul class="paramList">
            <li>Boolean - True or False</li>
        </ul>

        {{!-- @todo: Add Example--}}

    </div>
</div>
<div class="card" id="hasTurbo">
    <div class="card-header"><span class="font-weight-bold">Function User:hasTurbo</span></div>
    <div class="card-block">
        Diese Funktion checkt, ob der Sender des Commands Twitch-Turbo hat.

        <div class="doku-fn-head">Syntax</div>
        <code class="doku-fn-code">nil User:hasTurbo()</code>

        <div class="doku-fn-head-small">Rückgabewert</div>
        <ul class="paramList">
            <li>Boolean - True or False</li>
        </ul>

        {{!-- @todo: Add Example--}}

    </div>
</div>