<div class="card">
    <div class="card-header"><span class="font-weight-bold">Utilities</span></div>
    <div class="card-block">
        Diese Klasse stellt zusätzliche Tools bereit.
        <br/>

        <strong>Funktionen der Klasse</strong>:<br/><br/>
        <ul>
            <li><a href="#getDate">getDate</a></li>
        </ul>

        <strong>Properties der Klasse</strong>:<br/><br/>
        <ul>
        </ul>

    </div>
</div>



{{!--@todo: rework documentations -> add examples--}}
<div class="card" id="getDate">
    <div class="card-header"><span class="font-weight-bold">Function Utilities:getDate</span></div>
    <div class="card-block">
        Abfrage des aktuellen Zeitpunktes (oder eines Zeitpunktes, der durch die Millisekunden seit 01.01.1970 berechnet wird).<br/>

        <div class="doku-fn-head">Syntax</div>
        <code class="doku-fn-code">JsDateObject Utilities:getDate(nil milliseconds)</code>

        <div class="placeholder-1em"></div>
        <div class="doku-fn-head-small">Parameter</div>
        <ul class="paramList">
            <li>Optional milliseconds: Millisekunden seit 01.01.1970</li>
        </ul>

        <div class="doku-fn-head-small">Returnwert</div>
        <ul class="paramList">
            <li>JsDateObject - <a href="https://wiki.selfhtml.org/wiki/JavaScript/Objekte/Date">Dokumentation über Js-Dateobject: https://wiki.selfhtml.org/wiki/JavaScript/Objekte/Date</a></li>
            <li>oder false wenn Stream offline</li>
        </ul>
    </div>
</div>

